@font-face{
font-family:ds_term;src:url('DS_TERM.TTF') format("truetype")
}


body{background-color:black;}

#background{
display:block;
position:absolute;
top:0;
left:0;
z-index:-1;
/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#FFF));*/
background: -webkit-radial-gradient(circle, white, black);
height: 100%;
width:100%;
opacity:0;
/*-webkit-transition: opacity .5s;*/


}

*{
padding:0px;
margin:0px;
font-family:ds_term;
}
.row{
width:100%;
height:50px;
font-size:45px;
}
#screen{

overflow-y:hidden;

}
.charSpace{
display:inline-block;

font-size:45px;
color:#66ff00;
opacity:0;
<!--float:left;-->
text-align:center;
}

.command{
white-space:pre-wrap;
color:#66ff00;
font-size:45px;
display:inline-block;


}

@-webkit-keyframes blink{

from{
opactiy:0;
}
to{
opacity:1;
}

}


.cursor{

display:inline-block;
opacity:0;
width:25px;
height:35px;
backGround-color:#66ff00;


}

.solid{
opacity:1;
}

.blinking{

-webkit-animation-name:blink;
-webkit-animation-duration: 500ms;
-webkit-animation-direction:alternate;
-webkit-animation-iteration-count:infinite;

}


.animateIn{
-webkit-transition-property :opacity;
-webkit-transition-timing-function:linear;
-webkit-transition-duration:100ms;
/*width:25px;*/
opacity:1;

}
.fadeOut{


}


